apiVersion: kubeadm.k8s.io/v1beta2
bootstrapTokens:
- description: default kubeadm bootstrap token
  groups:
  - system:bootstrappers:kubeadm:default-node-token
  token: "{{ k8s_master_bootstrap_token }}"
  ttl: 0s
  usages:
  - signing
  - authentication
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: {{ k8s_master_master_ip_addr }}
  bindPort: 6443
nodeRegistration:
  criSocket: /var/run/dockershim.sock
  name: master
  taints:
  - effect: NoSchedule
    key: node-role.kubernetes.io/master
---
apiServer:
  certSANs:
  - {{ k8s_master_master_ip_addr }}
  - {{ k8s_master_master_int_fqdn }}
  - {{ k8s_master_master_ext_fqdn }}
  extraArgs:
    default-watch-cache-size: "500"
    max-mutating-requests-inflight: "500"
    max-requests-inflight: "1000"
    watch-cache-sizes: persistentvolumeclaims#1000,persistentvolumes#1000
  timeoutForControlPlane: 4m0s
apiVersion: kubeadm.k8s.io/v1beta2
certificatesDir: /etc/kubernetes/pki
clusterName: {{ k8s_master_cluster_name }}
controlPlaneEndpoint: {{ k8s_master_master_int_fqdn }}:6443
controllerManager:
  extraArgs:
    deployment-controller-sync-period: 50s
dns:
  type: CoreDNS
etcd:
  local:
    dataDir: /var/lib/etcd
imageRepository: k8s.gcr.io
kind: ClusterConfiguration
kubernetesVersion: v{{ k8s_master_ver }}
networking:
  dnsDomain: cluster.local
  podSubnet: {{ ks8_master_pod_subnet }}
  serviceSubnet: {{ ks8_master_service_subnet }}
scheduler: {}
