apiVersion: kubeadm.k8s.io/v1beta2
discovery:
  bootstrapToken:
    apiServerEndpoint: {{ k8s_worker_master_fqdn }}:6443
    token: {{k8s_worker_bootstrap_token}}
    unsafeSkipCAVerification: true
  timeout: 5m0s
  tlsBootstrapToken: {{k8s_worker_bootstrap_token}}
kind: JoinConfiguration
nodeRegistration:
  criSocket: /run/containerd/containerd.sock #/var/run/dockershim.sock
  #name: master
  taints: null
